---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="Self-Custody Guide | Cashless Thailand">
    <Navbar />
    <main
        class="bg-[#050505] min-h-screen pt-40 pb-20 px-6 flex items-center justify-center"
    >
        <div class="text-center">
            <h1
                class="text-4xl md:text-6xl font-black text-white mb-6 uppercase tracking-tighter"
            >
                Self-Custody <span class="text-[#D4AF37]">Guide</span>
            </h1>
            <p class="text-white/60 text-lg">coming soon...</p>
        </div>
    </main>
    <Footer />
</Layout>
