---
import AdminLayout from "../../layouts/AdminLayout.astro";
import AdminChatComponent from "../../components/admin/AdminChat.jsx";
---

<AdminLayout title="Support Chat">
    <div class="space-y-6">
        <div class="flex justify-between items-center">
            <h1 class="text-3xl font-black text-white uppercase tracking-wider">
                Support Tickets
            </h1>
        </div>

        <AdminChatComponent client:load />
    </div>
</AdminLayout>
