---
import AdminLayout from "../../layouts/AdminLayout.astro";
import CouponManager from "../../components/admin/CouponManager.jsx";
---

<AdminLayout title="Coupon Management">
    <div class="space-y-6">
        <div class="flex justify-between items-center">
            <h1 class="text-3xl font-black text-white uppercase tracking-wider">
                Discount Coupons
            </h1>
        </div>

        <CouponManager client:load />
    </div>
</AdminLayout>
